.contact-body{
  background-color: #83f2f2;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  font-size: 15px;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.contact-box {
  background-color: #fff;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: #1c00b5;
  color: #fff;
}

.contact-text {
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 40px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-bottom: 5px;
}

.textarea {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.label {
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}

.send {
  margin-top: 10px;
  width: 120px;
  height: 40px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1 em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}
button.send:hover {
  background: #315cfd;
  color: white;
  font-size: 1.2em;
}
  .contact-left h3 {
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child{
  padding-right: 20px;
}
tr td{
  padding-top: 20px;
}